@using DotNetAcademy.Persistence.Entities
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Identity
@using DotNetAcademy.Persistence.Constants
@inject NavigationManager NavigationManager
@inject SignInManager<ApplicationUser> SignInManager
@rendermode InteractiveServer
@implements IDisposable

<header class="app-header">
    <div class="container-fluid px-0">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex flex-row justify-content-evenly align-items-center gap-3">
                <h2 class="m-0">Flickpickd</h2>
                <!--TODO: when actual list components are created, replace these h3 tags w/ actual components.-->
                <p class="m-0">Movies</p>
                <p class="m-0">Series</p>
            </div>
            <div>
                @if (!CheckIfInAddItemPage())
                {
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <button class="btn btn-dark btn-sm p-1 me-2 mt-2 mb-2"
                                    @onclick="NavigateToAddItem"
                                    type="button"
                                    title="Add Item (Admin)"
                                    aria-label="Add Item">
                                Add Item
                            </button>
                        </Authorized>
                    </AuthorizeView>
                }
                <button class="btn btn-outline-secondary btn-sm p-1 me-2 mt-2 mb-2"
                        @onclick="Logout"
                        type="button"
                        title="Sign out"
                        aria-label="Sign out">
                    Sign out
                </button>
            </div>
        </div>
    </div>
</header>

@code {
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private void Logout()
    {
        NavigationManager.NavigateTo("/logout", forceLoad: true);
    }

    private void NavigateToAddItem()
    {
        NavigationManager.NavigateTo("/additem");
    }

    private bool CheckIfInAddItemPage()
    {
        return NavigationManager.Uri.EndsWith("/additem", StringComparison.OrdinalIgnoreCase);
    }
}