@using DotNetAcademy.Persistence.Entities
@using DotNetAcademy.Services.ApplicationUserService
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Identity
@rendermode InteractiveServer

<header class="app-header">
    <div class="container-fluid p-3">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex flex-row justify-content-evenly align-items-center gap-3">
                <NavLink href="/" class="fs-1 text-decoration-none m-0" style="color: black" Match="NavLinkMatch.All">
                    Flickpickd
                </NavLink>
            </div>
            <div class="dropdown me-1">
                <button class="btn btn-dark p-0 border-0 rounded-circle"
                        type="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"
                        title="Profile menu"
                        aria-label="Profile menu">
                    <img src="@profileImageUrl" 
                         alt="profile-pic" 
                         class="rounded-circle" 
                         style="width: 40px; height: 40px; object-fit: cover;" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <AuthorizeView Roles="Admin">
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <NavLink class="dropdown-item" href="/additem">
                                Add Item
                            </NavLink>
                        </li>
                    </AuthorizeView>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <button class="dropdown-item" 
                                @onclick="Logout" 
                                type="button">
                            Logout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>