@page "/"
@using DotNetAcademy.Components.ItemComponents
@using DotNetAcademy.Enums
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@rendermode InteractiveServer

<div class="d-flex flex-column justify-content-center align-items-center">
    <PageTitle>Home</PageTitle>

    <ItemCompList MediaType="@mediaType" />

    
</div>

@code {
    private MediaTypeEnum mediaType = MediaTypeEnum.Movie;
}