@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@rendermode InteractiveServer

<div class="d-flex flex-column justify-content-center align-items-center">
    <PageTitle>Home</PageTitle>

    <h1>Hello, world!</h1>

    Welcome to your new app.

    @if (isItemAdditionSuccessful)
    {
        <div class="alert alert-success mt-3">
            Item addition was successful!
        </div>
    }
</div>